.table {
	/* border: 1px solid black; */
	display: grid;
	grid-template-rows: auto;
	justify-content: center;
}

thead {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
}

.attackHeaderRow {
	display: grid;
	grid-template-columns: 1fr 1fr 19fr;
}
.tableColContainer {
	display: grid;
	grid-template-columns: repeat(20, 1fr);
}

tbody {
	display: grid;
	grid-template-columns: 1fr 18fr;
}

.defendHeader {
	grid-row: 1 / span 18;
	display: grid;
	justify-content: center;
	transform: rotate(180deg);
	writing-mode: vertical-lr;
}

.tableRowContainer {
	color: black;
	grid-column: 2/20;
	display: grid;
	grid-template-columns: repeat(19, 1fr);
}

.tableCell {
	justify-content: center;
	border: 1px black solid;
	transition: all 0.2s;
}

.tableCell:focus {
	color: red;
}
