.table {
	/* border: 1px solid black; */
	display: grid;
	grid-template-rows: auto;
	justify-content: center;
}

thead {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
}

.attackHeaderRow {
	display: grid;
	grid-template-columns: 1fr 1fr 19fr;
}
.tableColContainer {
	display: grid;
	grid-template-columns: repeat(20, 1fr);
}

tbody {
	display: grid;
	grid-template-columns: 1fr 18fr;
}

.defendHeader {
	grid-row: 1 / span 18;
	display: grid;
	justify-content: center;
	transform: rotate(180deg);
	writing-mode: vertical-lr;
}

.tableRowContainer {
	grid-column: 2/20;
	display: flex;
	grid-template-columns: repeat(19, 1fr);
}

.tableHeaderRows {
	display: flex;
	min-width: 64px;
	flex: 1;
	justify-content: center;
}

.tableCell {
	display: flex;
	flex: 1;
	justify-content: center;
	border: 1px black solid;
	transition: all 0.2s;
}

.bigCell {
	display: flex;
	flex: 10;
	justify-content: center;
	border: 1px black solid;
	transition: all 1s;
}

.twoX {
	background-color: lightgreen;
}

.halfX {
	background-color: red;
}

.zeroX {
	background-color: gray;
}
.dFactorMnemonicContainer {
	text-align: center;
}
